.head{
    display: flex;
    justify-content: space-around;
    border: 2px solid white;
    align-items: center;
    height: 5rem;
    width: 100%;
    border-radius: 10px;
    color: white;
    font-size: 25px;
}